html {
    background: url(imagenes/fondo.jpg);
    background-size: 70%;
    background-attachment: fixed;
  }

body{
    width: 1200px;
    height: 100%;
    margin: auto;   
    opacity: 80%;
}
header{
    background-color: rgb(184, 43, 43);
}
#primertitulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 60px;
    text-align : center;
    background-color:rgb(255, 255, 255);
}
#tituloCuento{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 40px;
    text-align : center;
    color: ivory;
  }

.multimedia{
    float:right;
    width: 350px;
    background-color: darksalmon;
    border-radius: 5%;
}
#titulomulti{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    text-align: center;
    background-color: dimgray;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
#logotipo{
    width: 200px;
    height: 100px;
}
#imagen{
    width: 335px;
    height: 170px;
    align-self: center;

}
#titulocuento{
    background-color:darksalmon;
    text-align: center;
}
#labelaudio{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    text-align: center;
    background-color: dimgray;
}
#labelenlaces{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    text-align: center;
    background-color: dimgray;
    padding: 0%;
}
li{
    font-family:cursive;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin:10px 10px 10px 10px
  }
li:link{
    color:#fff;
  }
li:hover{
    color: #000;  
  }

.textonormal{
    color: aliceblue;
    float: left;
    width: 800px;
    border-radius: 5%;
    background-color: darkred;
    padding: 10px;
    margin-bottom: 20px ;

    font-size: 15px;
    font-family: cursive;
    text-align: justify;
}
.textonormal2{
    color: aliceblue;
    float: left;
    width: 1200px;
    border-radius: 5%;
    background-color: darkred;
    padding: 10px;

    font-size: 15px;
    font-family: cursive;
    text-align: justify;
}
.dialogo{
    font-size: 15px;
    font-family: cursive;
    font-style: italic;
}
.textolengua{
    color: aliceblue;
    float:right;
    width: 1200px;
    border-style: double;
    background-color: darkred;
    padding: 10px;

    font-size: 12px;
    font-family: cursive;
    text-align: justify;
    font-style: italic;
    margin-top: 20px;
}
#labelglosario{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-align: center;
    color: ivory;
    background-color: #000;
}
dt{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-align: left;
    color: #fff;
    background-color: rgb(85, 12, 12);
}
dd{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    
    text-align: left;
    color: #fff;
    padding: 10px;
}
#disqus_thread{
background-color: #000;
width: 100%;

}
.multimedia2{
    float:right;
    width: 1200px;
    background-color: darksalmon;
    border-radius: 5%;
}